.parent-2{
    min-height: 70vh;
}


.subdiv-1-1{
    

    button{
        border-radius: 10px;

        font-size: 17px;
        padding: 10px 20px;


        &:hover{

            background:$secondary-color-black;
            color: $primary-color;
            transition: 0.8s;
            
        }
    }

}



.subdiv-1-2{

    font-size: 20rem;
} 

.flex-2{
    display: flex;
   justify-content: center;
   align-items: center;
 

   margin-top: 0px;
}




.parent-3{
   
   

    a{
        text-decoration: none;
        background-color: transparent;

        
            color:$secondary-color-black ;

        
    }

            h3::after{
            content: '';
            background: $secondary-color-black;
            display: block;
            width: 0%;
            height: 2px;
            

        }

        a:hover h3::after{
            width: 20%;
            transition: 0.8s;
        }
    




    .card{
        display: flex;
        flex-direction: column;

        width: fit-content;

        
        img{
            border-radius: 20px 20px 0px 0px;
        }

        border-radius:20px ;

        h5{
          
            text-align: start;
            

        }
    }

   .card:hover img {
    width: 420px;
   }


}





// parent-4 ///////////////////

.parent-4{
    margin: 7rem 0px 0px 7rem;
 


}

.scroll{
    margin-top: 5rem;



}

#scroll-cards{
    display: flex;
    flex-direction: column;

    gap: 6rem;
    
    height: auto;
    


    text-align: start;
    color: $secondary-color-black;

      h2::after{
        content: '';
        height: 2px;
        width: 20%;
        background: $secondary-color-black;
        display: block;
      }

}
.owl-item{
    min-width: 300px;
} 
.owl-carousel .item{
    // border: 1px black solid;
    padding: 2rem;
}





//start  of footer 


footer{
    height: 100vh;
}