.parent-2{
    min-height: 70vh;
}


.subdiv-1-1{
  display: flex;
  justify-content: center;
  align-content: center;


}



.subdiv-1-2{

    font-size: 20rem;
} 

.flex-2{
    display: flex;
   justify-content: center;
   align-items: center;

}