.parent-2{
    min-height: 70vh;
}


.subdiv-1-1{
    

    button{
        border-radius: 10px;

        font-size: 17px;
        padding: 10px 20px;


        &:hover{

            background:$secondary-color-black;
            color: $primary-color;
            
        }
    }

}



.subdiv-1-2{

    font-size: 20rem;
} 

.flex-2{
    display: flex;
   justify-content: center;
   align-items: center;
 

   margin-top: 0px;
}




.parent-3{
   


    a{
        text-decoration: none;
        background-color: transparent;

        
            color:$secondary-color-black ;

        
    }

            h3::after{
            content: '';
            background: $secondary-color-black;
            display: block;
            width: 0%;
            height: 2px;
            

        }

        a:hover h3::after{
            width: 20%;
            transition: 0.8s;
        }
    

    .card{
        display: flex;
        flex-direction: column;
        width: 411px;
    

        h5{
          
            text-align: start;
            

        }
    }
}




//start  of footer 


footer{
    height: 100vh;
}