
$primary-color:#f4f4f4 ;
$secondary-color-black: #252422;
$secondary-color-pink: #f9cdcd;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: $primary-color;
}